@tailwind base;
@tailwind components;
@tailwind utilities;

.layer-track {
  display: flex;
  height: 6px;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.06);
}

.layer-step {
  height: 100%;
}
